@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(40, 40, 40);
}

header {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Navigation-section {
  width: 100%;
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.Navigation-section .logo span {
  font-size: 1.6rem;
  color: rgb(255, 0, 140);
  margin-left: 1.5rem;
}

.navigation-link {
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation-link li {
  margin-right: 3rem;
  font-size: 1.1rem;
  color: rgb(85, 140, 212);
  cursor: pointer;
}

.navigation-link li a {
  text-decoration: none;
  color: rgb(85, 140, 212);
}

/* Self introduction section  inside the header section*/
.Introduction {
  display: flex;
  height: 100%;
  position: relative;
}
.Intro-animation-container
{
    width: 100%;
    height: 100%;
    background:transparent;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
}

/* Bubble Style */
.bubble {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

.Intro-container {
  width: 100%;
  flex: 1;
  background:transparent;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.Introduction .description {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h1 {
  font-size: 3rem;
  padding: 0 3rem;
  font-weight: 400;
  color: rgb(85, 140, 212);
}

.description p {
  font-size: 2rem;
  font-weight: 300;
  padding: 0 3rem;
  color: white;
}

.description a {
  color: white;
  background-color: rgb(241, 108, 108);
  width: 20%;
  text-align: center;
  margin: 0.5rem 3rem;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.Introduction .Image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.Introduction .Image img {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
